:root {
	--color-primary: #4CAB96;
	--margin-bottom: 30px;
}

html {
  scroll-behavior: smooth; 
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
}

/*** HEADER ***/

header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.intro h1 {
	color: var(--color-primary);
}

.contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

.contacts div {
	margin: 0 30px;
}

.contacts i {
	color: var(--color-primary);
}

.div-avatar img {
	border-radius: 10%;
}

/*** MAIN ***/

header, section {
	margin-bottom: var(--margin-bottom);
}

section h3 {
	color: var(--color-primary);
	position: relative;
}

section ul {
	list-style: none;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--color-primary); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

section h3::before, section h3::after {
	content: "";
	display: block;
	width: 40%;
	height: 4px;
	border-radius: 10px;
	background-color: var(--color-primary);
	top: 50%;
	position: absolute;
}

section h3::before {
	left: 0;
}

section h3::after {
	right: 0;
}

.experience article, .education article {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.experience article div:last-of-type,
.education article div:last-of-type {
	/* background-color: #4CAB96; */
	text-align: left;
}

/*** SKILLS ***/ 

.competences {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.experience {

}

/*** LANGUAGES ***/

.languages article div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.languages article div p:last-of-type {
	/* text-align: left; */
	/* background-color: aqua; */
}